<%- include('../partials/_header') %>

<div class="container mt-5">

     

    <div class="row my-5">
        <div class="col-sm-10 col-12">
            <h3 id="quote" class="text-white">Recuperación de password</h3>
            <p class="text-white" >Ingrese su email y le enviaremos a esa cuenta las instrucciones de reseteo de password</p>
        </div>
        <div class="col-sm-2 col-12">
        <a class="btn btn-primary mx-auto" href="/">Volver</a>
        </div>
    </div>

    <div class="container my-5">
        <div class="card  p-5 shadow "> 
            <% if(info && info.message){ %>
                <div  class="alert alert-danger"><%= info.message  %></div>
            <% }; %> 
            <form id="Login" action="/forgotPassword" method="post">
                <div class="form-group"><input class="form-control" id="email" type="email" placeholder="Email Address" name="email" /></div>
                <button class="btn btn-info" type="submit">Resetear</button>
            </form>
        </div>       
    </div>

</div>        